* {
    box-sizing: border-box;
}

:root {
    --gradient:
      linear-gradient(
        45deg,
        #ff7c7d,
        #ffda67
      );
    --card: #272524;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    background-color: #272524;
}

/* ESTILOS DEL HEADER FIJO */

header {
    width: 100%;
    background: var(--card);
    color: bisque;
}

.header-container {
    position: fixed;
    width: 100%; /* Ocupa todo el ancho */
    height: 6vh;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    margin: 0 auto; /* Centra horizontalmente el contenido interno */
    padding: 0 20px; /* Espacio interno a los lados */
    /* border: 3px solid bisque; */
    /* border-radius: 7px; */
    box-shadow: 0 4px 10px rgba(233, 228, 228, 0.3);
    top: 10px; left: 0; right: 0;
    z-index: 500;
}

.header-container h2 {
    margin: 0; /* Elimina el margen predeterminado del h2 */
    position: absolute; /* Posiciona el h2 absolutamente */
    left: 50%; /* Lo mueve al 50% del ancho del contenedor */
    transform: translateX(-50%);
}

.burguer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px; /* Ajusta la altura según necesites */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.burguer-container span {
    display: block;
    width: 25px; /* Ancho de las líneas de la hamburguesa */
    height: 2px; /* Grosor de las líneas */
    /* background-color: bisque; Color de las líneas */
    background: linear-gradient(to right, #a8ff78, #78ffd6);
}

/* ESTILOS DEL CUERPO (DISPOSITIVOS) */

main {
    width: 100%;
    padding-top: 10vh;
}

.card-container {
    display: flex;
    margin: 10px auto;
    flex-direction: row;
    background: #1E1E1E;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    height: 15vh;
    box-shadow: 0 4px 10px rgba(233, 228, 228, 0.3);
    overflow: hidden;
    position: relative;
    align-items: center;
}

.icon-container {
    /*width: 100%;*/
    width: 10vh;
    height: 10vh;
    /* background: linear-gradient(135deg, #ff7e5f, #feb47b); */
    /* background: linear-gradient(135deg, #3a3939, #cfccca); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: background 0.3s ease-in-out; /* Suaviza el cambio de color */
}

.icon-container.active {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

.icon-container.inactive {
    background: linear-gradient(135deg, #3a3939, #cfccca);
}

.icon-container img {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    object-fit: cover;
}

.card-elements-container {
    position: relative;
    height: 100%;
    color: bisque;
    /* justify-content: center; /*Centra verticalmente */
    /* align-items: center; /*Centra horizontalmente */
    flex-grow: 1; /* Ocupa todo el espacio restante */
    /* border: 3px solid bisque; */
}

.card-text-container {
    position: absolute;
    top: 0; /* Pegado al tope */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.card-text-container h3 {
    margin: 0;
    padding: 0;
}

.action-button-container {
    position: absolute;
    bottom: 0; /* Pegado al bottom */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.options-button-container {
    position: absolute;
    top: 50%;
    right: 0; /* Pegado a la derecha */
    transform: translateY(-50%); /* Centrar verticalmente */
    display: flex;
    flex-direction: column; /* Colocar los puntos en columna */
    align-items: center; /* Centrar los puntos horizontalmente */
    gap: 5px; /* Espaciado entre puntos */
    width: 30px; /* Tamaño del contenedor */
    height: auto;
    cursor: pointer;
    z-index: 10;
}

.options-button-container span {
    display: block;
    width: 8px; /* Tamaño del punto */
    height: 8px; /* Tamaño del punto */
    background-color: bisque; /* Color de los puntos */
    border-radius: 50%; /* Hace que sean círculos */
}

.action-button-container button, .buttons-container button, .device-form-container button, .new-user-form-container button {
    padding: 5px 35px; /* Ajusta el padding según necesites */
    border: 2px solid bisque; /* Contorno bisque */
    border-radius: 20px; /* Contorno redondeado */
    background-color: transparent; /* Fondo transparente */
    color: bisque; /* Color de las letras bisque */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease, transform 0.1s ease; /* Transición suave para el fondo y la transformación */
}

.device-form-container button, .new-user-form-container button {
    padding: 15px 35px; /* Ajusta el padding según necesites */
    font-size: large;
}

.action-button-container button:hover, .buttons-container button:hover {
    background: linear-gradient(to right, #a8ff78, #78ffd6); /* Gradiente verde al pasar el mouse */
    color: #272524; /* Cambia el color del texto para mejor contraste */
    border: none;
}

.action-button-container button:active {
    transform: scale(1.1); /* Efecto de resonancia al hacer clic */
    transition: transform 0.1s ease; /* Transición más rápida para el efecto de clic */
}

.device-menu-container {
    position: absolute;
    top: 0;
    right: -100%; /* Oculto inicialmente */
    width: 100%;
    height: 100%;
    background: #1E1E1E;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: right 0.3s ease-in-out;
    z-index: 1; /* Debajo de los tres puntos */
}

.edit-name-button, .remove-device {
    border: none;
    background: #333;
    color: bisque;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
}

.edit-name-button:hover, .remove-device:hover {
    background: bisque;
    color: #333;
    transform: scale(1.1); /* Efecto de resonancia al hacer clic */
    transition: transform 0.1s ease; /* Transición más rápida para el efecto de clic */
}

/* FOOTER FLOTANTE */

.floating-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-button {
    width: 50px;
    height: 50px;
    background-color: bisque;
    color: #1a1a1a;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.home-button {
    width: 50px;
    height: 50px;
    background-color: #3498db; /* Un color azul llamativo para el botón */
    color: white; /* Color blanco para el icono */
    font-size: 24px; /* Tamaño del icono */
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    line-height: 1; /* Ajuste para centrar el icono verticalmente */
}

.add-button:hover, .burguer-container:hover, .home-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.add-button:active {
    transform: scale(0.9);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}


/* POP-UPs */

.pop-up {
    position: fixed; /* Para evitar que se mueva con el contenido */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: none; /* Se ocultará hasta ser activado */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.popup-content-container {
    width: 80%;
    background-color: #242323;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 90vw; /* Limita el tamaño en pantallas grandes */
    max-height: 90vh; /* Limita el tamaño en pantallas grandes */
    overflow: auto; /* Agrega scroll si el contenido es demasiado grande */
}

.buttons-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons-container #buttons-name-edit-container {
    flex-direction: row;
}

.buttons-container #confirmation-buttons-container {
    flex-direction: column;
}

input, select {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-sizing: border-box; /* Incluir el padding y el border en el ancho */
}

input::placeholder {
    color: #bbb;
}

/* POP-UP DE CAMBIO DE NOMBRE */

.popup-content-container p {
    color: bisque;
}

/* POP-IP DE VIDEO */

#video-player {
    width: 90%; /* Ocupa el 90% del contenedor */
    max-width: 100%; /* Asegura que no se desborde */
    height: auto; /* Mantiene la proporción */
    display: block; /* Elimina espacios extra en imágenes */
    margin: 0 auto; /* Centra horizontalmente */
    border-radius: 15px;
}

/* MENÚ LATERAL (SIDEBAR) */

.sidebar {
    position: fixed;
    top: 7.5vh;
    left: -250px; /* Oculto inicialmente */
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    z-index: 1000;
}

/* Cuando el menú está abierto */
.sidebar.open {
    left: 0;
}

/* Lista del menú */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* flex-grow: 1; */
}

/* Botones del menú */
.sidebar-button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: transparent;
    color: bisque;
    border: 1px solid bisque;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    border-radius: 15px;
    transition: background 0.2s ease-in-out;
}

.sidebar-button:hover {
    background-color: #464543;
}

/* Cerrar sesión abajo */
.logout {
    margin-top: auto;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Estirar los elementos al ancho del contenedor */
    margin-top: 20px;
}

.device-form-container, .new-user-form-container {
    text-align: center;
}

.device-form-container h2, .new-user-form-container h2{
    color: bisque;
}