<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Dispositivos</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <h2>Mis Dispositivos</h2>

    <div id="device-list">
        {% for device in devices %}
        <div class="card" data-tag="{{ device.tag }}" data-name="{{ device.name }}">
            <span class="card-name">{{ device.name }}</span>
            <button class="options-btn" data-tag="{{ device.tag }}">⋮</button>
            {% if devices.type == 'wol'%}
            <button class="wake-btn"
                    data-tag="{{ device.tag }}"
                    data-name="{{ device.name }}">
                Encender
            </button>
            {% endif %}
            {% if device.type == 'camera-usb' or device.type == 'camera'%}
            <button class="play-btn"
                    data-tag="{{ device.tag }}"
                    data-name="{{ device.name }}">
                ▶️ VER
            </button>
            {% endif %}
            <button class="remove-device"
                    id="delete-device"
                    data-tag="{{ device.tag }}"
                    data-name="{{ device.name }}">
                ❌
            </button>
        </div>
        {% endfor %}
    </div>

    <div id="pop-up-name-edit" style="display: none;">
        <div class="name-edit-container">
            <p>Inserte el nuevo nombre del dispositivo</p>
            <input type="text" placeholder="Nuevo nombre del dispositivo" id="edited-name" required>
            <div id="buttons-name-edit-container">
                <button id="save-name-btn">Guardar</button>
                <button id="cancel-name-btn">Cancelar</button>
            </div>
        </div>
    </div>

    <div id="pop-up-confirmacion" style="display: none;">
        <div class="contenido-pop-up">
            <p id="mensaje-confirmacion"></p>
            <button id="boton-confirmar">Sí, eliminar</button>
            <button id="boton-cancelar">No, cancelar</button>
        </div>
    </div>

    <a href="/add_device" class="add-device">➕ Agregar Dispositivo</a>
    {% if role == 'admin' %}
    <a href="/register" class="add-user">➕ Agregar Usuario</a>
    {% endif %}
    <button id="logout-button">Cerrar Sesión</button>

    <script type="module" src="../static/js/main.js"></script>
</body>
</html>